body {
  background-color: #000000;
}

.button {
  margin: 0;
  background-color: #87929f;
}

.sign-header {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.drumhead-container {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
}

.drumhead {
  flex: 1;
  text-align: center;
}

.drumhead svg {
  height: 95vh;
  margin: auto;
}

.header {
  display: flex;
  color:#87929f;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.footer_email {
  margin-top: 1rem;
  margin-left: 2rem;
}

.footer a {
  color:#87929f;
}

.footer a:hover {
  color: white;
}

.header_by {
  text-align: right;
}

.header_song {
  font-size: .95em;
}

.header_name {
  color: white;
}

.footer {
  margin-top: 3rem;
  margin-bottom: 2rem;
  color:#87929f;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.2em;
  text-align: center;
}

.video-react .video-react-big-play-button {
  background-color: none;
  background: none;
}